<section id="proyectos" class="proyectos">
  <div class="container">
    <h2><i class="fas fa-code"></i> Proyectos</h2>
    
    <div class="project">

      <div class="project-img">
        <img src="./assets/PadelGroup.jpg" alt="PadelGroup App">
      </div>      

      <div class="project-info">
        <h3>PadelGroup App</h3>
        <p>Aplicación de gestión de pistas de pádel utilizando Ionic y Angular, con Firebase para datos en tiempo real. La app incluye un CRM, integración con Google Maps para localizar pistas, y Stripe para pagos seguros.</p>
        <div class="project-links">
          <!--<a href="#" class="btn btn-codigo"><i class="fab fa-github"></i> Código</a>-->
          <a href="#" class="btn btn-demo"><i class="fas fa-external-link-alt"></i> Demo</a>
        </div>
      </div>

    </div>

  </div>
</section>