<section id="formacion" class="educacion">
  <div class="container">
    <h2><i class="fas fa-graduation-cap"></i> Formación</h2>
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>Pregrado Ingeniería Multimedia</h3>
          <p>Universidad Simón Bolívar, Cúcuta<br>2021 - Actualidad</p>
          <p>Me encuentro en mi formación profesional como Ingeniero Multimedia, consolidando competencias en áreas que abarcan desde diseño gráfico, animación digital y modelado 3D hasta diseño UX/UI y desarrollo web, entre otras disciplinas.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>The Ultimate React Course 2024</h3>
          <p>Udemy<br>2023</p>
          <p>Apasionado por la programación, diseño y desarrollo web, empiezo en 2022 de forma autodidacta a aprender más profundamente JavaScript y posteriormente HTML, CSS y React. Todo de la mano de los cursos de Jonas Schmedtmann en Udemy.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>Build Responsive Real-World Websites with HTML and CSS</h3>
          <p>Udemy<br>2023</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>The Complete JavaScript Course 2024</h3>
          <p>Udemy<br>2022</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>Bachiller Técnico</h3>
          <p>Colegio Once de Noviembre<br>2019</p>
          <p>Concluí mis estudios secundarios con un título técnico en Contabilización de Operaciones Comerciales y Financieras, destacándome por mantener el más alto promedio del curso durante los últimos tres años. Fui reconocido como Estudiante Integral 2019 y mejor puntaje en las pruebas de estado de mi generación.</p>
        </div>
      </div>
    </div>
  </div>
</section>