.educacion {
  padding: 50px 0;
}

.educacion .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.educacion h2 {
  color: #212529;
  font-size: 2.75rem;
  font-weight: 600;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1;
}

.educacion h2 i {
  margin-right: 10px;
}

.company-logo {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-content {
  flex: 1;
}

.timeline-content h3 {
  font-size: 1.5em;
  font-family: 'Figtree', sans-serif;
  margin-bottom: 5px;
  color: #0C8599;
}

.timeline-content h4 {
  font-size: 1.2em;
  font-family: 'Figtree', sans-serif;
  margin-bottom: 5px;
  color: #666;
}

.timeline-content span {
  font-size: 1em;
  font-family: 'Roboto Mono', sans-serif;
  margin-bottom: 15px;
  display: block;
  color: #6d6d6d;
}

.timeline-content p strong {
  margin: 5px 0;
  font-size: 1em;
  font-family: 'Figtree', sans-serif;
  color: #333;
  margin-bottom: 5px;
  color: #099268;
}

.timeline-content ul {
  list-style: none;
  padding-left: 0;
}

.timeline-content ul li {
  margin-bottom: 10px;
  font-size: 1em;
  font-family: 'Figtree', sans-serif;
  display: flex;
  align-items: center;
}

.timeline-content ul li i {
  color: #099268;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .timeline-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .company-logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .timeline-content {
    padding: 0;
  }

  .timeline-content h3 {
    font-size: 1.4rem;
  }

  .timeline-content h4 {
    font-size: 1.1rem;
  }

  .timeline-content p, .timeline-content ul li {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .educacion h2 {
    font-size: 1.75rem;
  }

  .timeline-content h3 {
    font-size: 1.3rem;
  }

  .timeline-content h4 {
    font-size: 1rem;
  }

  .timeline-content p, .timeline-content ul li {
    font-size: 0.8rem;
  }
}