/* Estilo del header */
header {  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 0.5rem;
}

/* Estilo de la navegación */
header nav {
  display: flex;
  justify-content: center;
  align-items: center;  
}

/* Estilo de los enlaces */
header nav a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
  font-size: 1rem;
}

/* Hover en los enlaces */
header nav a:hover {
  color: #007bff; /* Cambia a tu color de resaltado preferido */
}