.experiencia {
  padding: 50px 0;
}

.experiencia .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.experiencia h2 {
  color: #212529;
  font-size: 2.75rem;
  font-weight: 600;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1;
}

.experiencia h2 i {
  margin-right: 10px;
}

.job {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.company-logo {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
}

.job-details {
  flex: 1;
}

.job h3 {
  font-size: 1.5em;
  font-family: 'Figtree', sans-serif;
  margin-bottom: 5px;
  color: #0C8599;
}

.job h4 {
  font-size: 1.2em;
  font-family: 'Figtree', sans-serif;
  margin-bottom: 5px;
  color: #666;
}

.job span {
  font-size: 1em;
  font-family: 'Roboto Mono', sans-serif;
  margin-bottom: 15px;
  display: block;
  color: #6d6d6d;
}

.job p {
  margin: 0;
  font-size: 1em;
  font-family: 'Figtree', sans-serif;
  color: #333;
  margin-bottom: 5px;
}

.job p strong {
  font-weight: bold;
  color: #099268;
}

.job ul {
  list-style: none;
  padding-left: 0;
}

.job ul li {
  margin-bottom: 10px;
  font-size: 1em;
  font-family: 'Figtree', sans-serif;
  display: flex;
  align-items: center;
}

.job ul li i {
  color: #099268;
  margin-right: 10px;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .job {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .company-logo {
    margin-bottom: 10px; /* Ajuste adicional para margen inferior */
    margin-right: 0;
  }

  .job-details {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .experiencia h2 {
    font-size: 1.75rem;
  }

  .job {
    padding: 15px;
  }

  .job h3 {
    font-size: 1.25em;
  }

  .job h4 {
    font-size: 1em;
  }

  .job span {
    font-size: 0.9em;
  }

  .job p,
  .job ul li {
    font-size: 0.9em;
  }
}

@media (max-width: 360px) {
  .company-logo {
    max-width: 80px; /* Ajusta el tamaño de la imagen para pantallas muy pequeñas */
    max-height: 80px;
  }

  .job h3 {
    font-size: 1.1em;
  }

  .job h4 {
    font-size: 0.9em;
  }

  .job span {
    font-size: 0.8em;
  }

  .job p,
  .job ul li {
    font-size: 0.8em;
  }
}