<section id="experiencia" class="experiencia">
  <div class="container">
    <h2><i class="fas fa-briefcase"></i> Experiencias</h2>
    <div class="job" *ngFor="let experiencia of experiencias">
      <img src="{{ experiencia.img }}" alt="{{ experiencia.empresa }}" class="company-logo">
      <div class="job-details">
        <h3>{{ experiencia.puesto }}</h3>
        <h4>{{ experiencia.empresa }}, {{ experiencia.ubicacion }}</h4>
        <span>{{ experiencia.fechaInicio }} - {{ experiencia.fechaFin }}</span>
        <p><strong>{{ experiencia.proyecto }}</strong></p>
        <p>{{ experiencia.descripcion }}</p>
        <ul>
          <li *ngFor="let responsabilidad of experiencia.responsabilidades">
            <i class="fas fa-check-circle"></i> {{ responsabilidad }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>