<section id="experiencia" class="experiencia">
  <div class="container">
    <h2><i class="fas fa-briefcase"></i> Experiencia</h2>
    <div class="job">
      <h3>Desarrollador Web</h3>
      <h4>Empresa XYZ, Bogotá, Colombia</h4>
      <span>2022 - Actualidad</span>
      <p>Responsabilidades:</p>
      <ul>
        <li>Desarrollo y mantenimiento de aplicaciones web utilizando tecnologías como HTML, CSS, JavaScript y React.</li>
        <li>Colaboración con diseñadores y otros desarrolladores para mejorar la funcionalidad y el diseño del sitio web.</li>
        <li>Implementación de nuevas características y optimización del rendimiento del sitio.</li>
      </ul>
    </div>
    <div class="job">
      <h3>Animador 3D</h3>
      <h4>Estudio de Animación ABC, Medellín, Colombia</h4>
      <span>2020 - 2022</span>
      <p>Responsabilidades:</p>
      <ul>
        <li>Creación de animaciones 3D para proyectos de publicidad y entretenimiento.</li>
        <li>Colaboración con el equipo de producción para asegurar la calidad y el cumplimiento de los plazos.</li>
        <li>Uso de software de animación como Blender y Maya para desarrollar modelos y animaciones.</li>
      </ul>
    </div>
  </div>
</section>