<section id="contacto" class="contacto">
  <div class="container">
    <div class="contact-info">
      <p><i class="fas fa-envelope"></i> <a href="mailto:santiagosepul2109@gmail.com">santiagosepul2109&#64;gmail.com</a></p>
      <p><i class="fas fa-file"></i> <a href="ruta_al_cv.pdf" target="_blank">Descargar CV</a></p>
      <p><i class="fab fa-github"></i> <a href="https://github.com/tu_usuario" target="_blank">GitHub</a></p>
      <p><i class="fab fa-linkedin"></i> <a href="https://linkedin.com/in/tu_usuario" target="_blank">LinkedIn</a></p>
    </div>
  </div>
</section>