.contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;  
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.social-links {
  display: flex;
  flex-wrap: wrap; /* Permitir el ajuste en varias filas en pantallas pequeñas */
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-social.linkedin {
  background-color: #0077b5; /* Color característico de LinkedIn */
  border-color: #0077b5; /* Borde del mismo color */
  color: white; /* Texto blanco */
}

.btn-social.linkedin:hover {
  background-color: white; /* Fondo blanco al pasar el ratón */
  color: #0077b5; /* Color característico para el texto e ícono */
  border-color: #0077b5;
}

/* Estilo para el botón de GitHub */
.btn-social.github {
  background-color: #333; /* Color característico de GitHub */
  border-color: #333; /* Borde del mismo color */
  color: white; /* Texto blanco */
}

.btn-social.github:hover {
  background-color: white; /* Fondo blanco al pasar el ratón */
  color: #333; /* Color característico para el texto e ícono */
  border-color: #333;
}

.correo-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.copy-confirmation {
  display: none;
  position: absolute;
  bottom: 110%;
  left: 93%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  white-space: nowrap;
  z-index: 1;
}

.copy-confirmation::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

/* Estilo para el botón de correo */
.btn-social.correo {
  background-color: #ff4c4c; /* Color característico de correo */
  border-color: #ff4c4c; /* Borde del mismo color */
  color: white; /* Texto blanco */
  font-size: clamp(0.6rem, 2.5vw, 1rem);
}

.btn-social.correo:hover {
  background-color: white; /* Fondo blanco al pasar el ratón */
  color: #ff4c4c; /* Color característico para el texto e ícono */
  border-color: #ff4c4c;
}

.btn-social.copy-email {
  background-color: #7d7d7d; /* Color característico para el botón de copiar correo */
  border-color: #7d7d7d;
  color: white;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 25%;
}

/* Estilo para el botón de CV */
.btn-social.cv {
  background-color: #9dfe6d; /* Color característico para el CV */
  border-color: #9dfe6d; /* Borde del mismo color */
  color: white; /* Texto blanco */
}

.btn-social.cv:hover {
  background-color: white; /* Fondo blanco al pasar el ratón */
  color: #9dfe6d; /* Color característico para el texto e ícono */
  border-color: #9dfe6d;
}

.btn-social {
  display: inline-block; /* Cambiado a inline-block para asegurar alineación */
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, transform 0.3s, background-color 0.3s, border-color 0.3s; /* Añadida transición para background-color y border-color */
}

.btn-social i {
  margin-right: 0.5rem;
  transition: transform 0.3s;
}

.btn-social:hover {
  transform: translateY(-3px); /* Desplazamiento hacia arriba */
}

.btn-social:hover i {
  transform: rotate(20deg); /* Rotación del ícono */
}

@media (max-width: 576px) {
  .contacto {
    padding: 1rem;
  }

  .btn-social {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .copy-confirmation {
    font-size: 0.8rem;
    padding: 4px 8px;
    left: 90%;
  }
}