<section id="contacto" class="contacto">
  <div class="container" *ngIf="contacto$ | async as contacto">
    <div class="social-links">

      <a href="{{ contacto.linkedin }}" target="_blank" class="btn-social linkedin"><i class="fab fa-linkedin"></i> Linkedin</a>
      <a href="{{ contacto.github }}" target="_blank" class="btn-social github"><i class="fab fa-github"></i> Github</a>

      <div class="correo-container">
        <a href="mailto:{{ contacto.correo }}" target="_blank" class="btn-social correo"><i class="fas fa-envelope"></i> {{ contacto.correo }}</a>
        <button class="btn-social copy-email" (click)="copyToClipboard(contacto.correo)" title="Copiar Correo"><i class="fas fa-copy"></i></button>
        <span id="copy-confirmation-two" class="copy-confirmation">¡Correo copiado!</span>
      </div>
      
      <a href="{{ contacto.cv }}" target="_blank" class="btn-social cv"><i class="fas fa-file"></i> CV</a>      
    
    </div>
  </div>
</section>