.habilidades {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.habilidades .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.habilidades h2 {
  color: #212529;
  font-size: 2.75rem;
  font-weight: 600;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1;
}

.habilidades h2 i {
  margin-right: 10px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.skill {
  text-align: center;
  flex: 1 1 21%; /* Ajusta este valor para controlar el número de elementos por fila */
}

.skill img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.skill p {
  margin: 0;
  font-size: 1.2em;
  font-family: 'Figtree', sans-serif;
  color: #333;
  margin-bottom: 10px;
}

/* Media Queries para responsividad */
@media (max-width: 576px) {
  .habilidades h2 {
    font-size: 1.75rem;
  }

  .skill img {
    max-width: 80px; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
  }

  .skill p {
    font-size: 1em; /* Ajusta el tamaño del texto para pantallas pequeñas */
  }
}