<section id="tecnologias" class="habilidades">
  <div class="container">
    <h2><i class="fas fa-brain"></i> Habilidades</h2>
    <div class="skills">
      <div class="skill">
        <img src="./assets/javascript.webp" alt="JavaScript">
        <p>JavaScript</p>
      </div>
      <div class="skill">
        <img src="./assets/css.png" alt="CSS">
        <p>CSS</p>
      </div>
      <div class="skill">
        <img src="./assets/html.png" alt="HTML">
        <p>HTML</p>
      </div>
      <div class="skill">
        <img src="./assets/react.webp" alt="React">
        <p>React</p>
      </div>
      <div class="skill">
        <img src="./assets/supabase.png" alt="Supabase">
        <p>Supabase</p>
      </div>
      <div class="skill">
        <img src="./assets/figma.png" alt="Figma">
        <p>Figma</p>
      </div>
      <div class="skill">
        <img src="./assets/git.webp" alt="Git">
        <p>Git</p>
      </div>
    </div>
  </div>
</section>
