<section id="sobremi" class="sobre-mi">
  <div class="container">
    <img src="./assets/avatar.png" alt="Avatar de Manuel" class="avatar">
    <h1>Hola, soy Manuel</h1>
    <p>Desarrollador de Software. <span class="highlight">Desarrollador Full Stack y Móvil.</span> <span class="localizacion"> De Getafe, Madrid.</span> Apasionado por la programación móvil.</p>
    <div class="social-links">
      <a href="https://linkedin.com" class="btn-social"><i class="fab fa-linkedin"></i> Linkedin</a>
      <a href="https://github.com" class="btn-social"><i class="fab fa-github"></i> Github</a>
      <a href="mailto:malamocres@gmail.com" class="btn-social"><i class="fas fa-envelope"></i> malamocres&#64;gmail.com</a>
    </div>
  </div>
</section>

<!-- Nueva sección "Sobre Mí" detalle -->
<section class="sobre-mi-detalle">
  <div class="container">
    <h2><i class="fas fa-user"></i> Sobre Mí</h2>
    <div class="sobre-mi-detalle-content">
      <div class="sobre-mi-detalle-texto">
        <p>Soy un apasionado desarrollador de software con experiencia en diversas tecnologías. Me encanta crear soluciones innovadoras y eficientes. Mi objetivo es contribuir al éxito de proyectos desafiantes mientras sigo aprendiendo y creciendo en mi carrera profesional.</p>
      </div>
      <div class="sobre-mi-detalle-imagen">
        <img src="./assets/avatar.png" alt="Descripción de la imagen" class="imagen-derecha">
      </div>
    </div>
  </div>
</section>