<section id="sobremi" class="sobre-mi">
  <div class="container" *ngIf="contacto">
    <img src="{{ contacto.avatar }}" alt="Avatar de Manuel" class="avatar">
    <h1>Hola, soy Manuel</h1>
    <p>Desarrollador de Software. <span class="highlight">Desarrollador Full Stack y Móvil.</span> <span class="localizacion"> De {{ contacto.localizacion.ciudad }}, {{ contacto.localizacion.comunidad }}.</span> Apasionado por la programación móvil.</p>
    <div class="social-links">
      <a href="{{ contacto.linkedin }}" target="_blank" class="btn-social linkedin"><i class="fab fa-linkedin"></i> Linkedin</a>
      <a href="{{ contacto.github }}" target="_blank" class="btn-social github"><i class="fab fa-github"></i> Github</a>

      <div class="correo-container">
        <a href="mailto:{{ contacto.correo }}" target="_blank" class="btn-social correo"><i class="fas fa-envelope"></i> {{ contacto.correo }}</a>
        <button class="btn-social copy-email" (click)="copyToClipboard(contacto.correo)" title="Copiar Correo"><i class="fas fa-copy"></i></button>
        <span id="copy-confirmation" class="copy-confirmation">¡Correo copiado!</span>
      </div>
      
      <a href="{{ contacto.cv }}" target="_blank" class="btn-social cv"><i class="fas fa-file"></i> CV</a>      
    </div>
  </div>
</section>

<!-- Nueva sección "Sobre Mí" detalle -->
<section class="sobre-mi-detalle">
  <div class="container">
    <h2><i class="fas fa-user"></i> Sobre mí</h2>
    <div class="detalle-content">
      <div class="detalle-texto">
        <p>Soy un apasionado desarrollador de software con experiencia en diversas tecnologías. Me encanta crear soluciones innovadoras y eficientes. Mi objetivo es contribuir al éxito de proyectos desafiantes mientras sigo aprendiendo y creciendo en mi carrera profesional.</p>
      </div>
      <div class="detalle-imagen">
        <img src="{{ contacto.img }}" alt="Imagen profesional" class="imagen-derecha">
      </div>
    </div>
  </div>
</section>