<section id="sobremi" class="sobre-mi">
  <div class="container">
    <img src="../../../assets/avatar.png" alt="Avatar de Manuel" class="avatar">
    <h1>Hola, soy Manuel</h1>
    <h2>Desarrollador de software. <span class="highlight">Desarrollador Web y Animador 3D. De Getafe, Madrid.</span></h2>
    <p>Apasionado por la programación mobile.</p>
    <button class="btn-disponible">Disponible para trabajar</button>
    <div class="social-links">
      <a href="https://linkedin.com" class="btn-social"><i class="fab fa-linkedin"></i> Linkedin</a>
      <a href="https://github.com" class="btn-social"><i class="fab fa-github"></i> Github</a>
      <a href="mailto:santiagosepul2109@gmail.com" class="btn-social"><i class="fas fa-envelope"></i> malamocres&#64;gmail.com</a>
    </div>
  </div>
</section>

<!-- Nueva sección "Sobre Mí" -->
<section class="sobre-mi-detalle">
  <div class="container">
    <h2>Sobre Mí</h2>
    <p>Soy un apasionado desarrollador de software con experiencia en diversas tecnologías. Me encanta crear soluciones innovadoras y eficientes. Mi objetivo es contribuir al éxito de proyectos desafiantes mientras sigo aprendiendo y creciendo en mi carrera profesional.</p>
  </div>
</section>
