/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5; /* Cambia esto al color que prefieras */
  margin: 0;
  padding: 0;
}